html,
body
  height 100%

.bar-header
  background sec
  padding rem(10px) rem(20px)
  box-shadow 0 -6px 9px #333
  position fixed
  width 100%
  z-index 10
  .logo
    margin 0
    line-height rem(35px)
  .logo a
    color main
    text-decoration none
    font-size rem(28px)
    &:after
      transition all .4s
      content '</> TR'
      +above(cut)
        content '</> Thiago Rossener'
