themes = {
    post-blog: #B31917,
    post-django: #2DA0C3,
    post-vida: #ffd300,
    post-tutorial: #637a91,
    post-design: #7AAB13,
    post-mobile: #EB7728,
    post-css: #7D669E,
}

for theme, category-color in themes
    .{theme}
        .ribbon span
            background-color category-color
            &:before
                border-left 3px solid darken(category-color, 30%)
                border-top 3px solid darken(category-color, 30%)
            &:after
                border-right 3px solid darken(category-color, 30%)
                border-top 3px solid darken(category-color, 30%)
        footer
            background-color category-color
