// Dark
primaryDark = #141414
accentDark = #ffffff
// Light
primaryLight = #ffffff
accentLight = #141414
// Colors
main = #333333
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333
// Resolution
cut = 37.5rem
